/* Theme depended control css. */
.TcHmi_Controls_Entertainment_ProgressBar {
	border: 1px solid black;
	background-color: rgba(231,231,231,255);
}
.TcHmi_Controls_Entertainment_ProgressBar-bar {
	background: rgb(97, 63, 251);
}