/* General theme independed control css. */

.TcHmi_Controls_FC_SideBar_FC_Sidebar {
    overflow-y: auto;
}

.TcHmi_Controls_FC_SideBar_FC_Sidebar-Template {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

.side-bar {
    width: 100%;
}

    .side-bar .menu {
        width: 100%;
    }

        .side-bar .menu .item {
            position: relative;
            cursor: pointer;
        }

            .side-bar .menu .item a {
                color: #fff;
                font-size: 24px;
                text-decoration: none;
                display: block;
                padding: 5px 30px;
                line-height: 60px;
            }

            .side-bar .menu .item.active {
                background: var(--indicatorColor);
                transition: 0.3s ease;
            }

        .side-bar .menu .sub-item.active {
            background: var(--indicatorColor);
            transition: 0.3s ease;
        }

        .side-bar .menu .item a:hover {
            background: var(--indicatorColor);
            transition: 0.3s ease;
        }

        .side-bar .menu .item i {
            margin-right: 25px;
        }

        .side-bar .menu .item a .dropdown {
            position: absolute;
            right: 0;
            margin: 20px;
            transition: 0.3s ease;
        }

        .side-bar .menu .item .sub-menu {
            background: rgba(255,255,255,0.1);
            display: none;
        }

        .side-bar .menu .item .sub-menu {
            padding-left: 20px;
        }

.rotate {
    transform: rotate(90deg);
}