/* General theme independed control css. */

.TcHmi_Controls_ElektroCode_RadialProgressBar {
    overflow: hidden;
}

.TcHmi_Controls_ElektroCode_RadialProgressBar-Template {
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    position: relative;
}